.primeiraclasse{
    background: blue;
    margin-top: 50px;
    justify-content: center;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.vendas{
    text-align: center;
    font-size: 50px;
}

.cores{
    width: 600px;
    max-width: 90%;
    height: auto;
    background: rgb(197, 188, 206);
    margin: auto;
    margin-top: 80px;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 15px 30px;
}

.new{
    margin-top: 20px;
}

.testando{
    margin-left: 30px;
    flex-direction: column;
}

.col-form-label{
    margin-left: 0px;
    flex-direction: column;
}

.form-control{
    display: block;
    border-radius: 53px;
    width: 100%;
    margin-bottom: 20px;
}

.form-control:hover{
    background: rgba(97, 88, 88, .1);
}

.btn-group{
    padding: 45px 0px 15px 0px;
}

.btn-group button{
    margin-right: 15px;
}

.btn-primary{
    display: flex;
    justify-content: center;
}

.btn-success{

}