.primeiraclasse{
    background: blue;
    margin-top: 50px;
    justify-content: center;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.vendas{
    text-align: center;
    font-size: 50px;

}
.cores{
    width: 30%;
    height: 300PX;
    background: rgb(197, 188, 206);
    margin: auto;
    margin-top: 80px;
    height: 700px;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 20px;
}



.new{
    
    margin-top: 20px;
    padding-left: 46px;
    margin-right: 140px;
  
}
.testando{
    margin-left: 30px;
    flex-direction: column;
}

.col-form-label{
   
    margin-left: 30px;
    flex-direction: column;
}
.form-control{
    display: block;
    border-radius: 53px;
}
.form-control > input:hover{
    background: red;
}
.btn-primary{
    margin-top: 40px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
}
.btn-success{
      margin-top: 40px;
    margin-left: 30px;
 
}


    
    
  
