/* ../../desktop.blocks/reset/reset.css: begin */ /**/
html,
body
{
    height: 100%;
}

/* https://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ../../desktop.blocks/reset/reset.css: end */ /**/

/* ../../desktop.blocks/css-variables/css-variables.styl:begin */
/* ../../desktop.blocks/css-variables/css-variables.styl:end */
/* ../../desktop.blocks/mesosphere/mesosphere.styl:begin */
.mesosphere {
height: 100%;
}
/* ../../desktop.blocks/mesosphere/mesosphere.styl:end */
/* ../../desktop.blocks/control-pane/control-pane.styl:begin */
.control-pane {
margin-top: 65px;
text-align: center;
-webkit-user-select: none;
 -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
.control-pane .button {
margin-right: 20px;
transition: opacity 0.2s, color 0.2s;
}
.control-pane .button__icon {
font: normal 45px/60px Menlo, monospace;
display: inline-block;
width: 60px;
border: 3px solid #fff;
border-radius: 60px;
transition: border-color 0.2s;
}
.control-pane .button__text {
font: normal 12px/12px Verdana, sans-seirf;
display: block;
margin-top: 20px;
}
.control-pane .button_type_add:not(:disabled):hover {
color: #3ca943;
}
.control-pane .button_type_add:not(:disabled):hover .button__icon {
border-color: #3ca943;
}
.control-pane .button_type_destroy:not(:disabled):hover {
color: #d03232;
}
.control-pane .button_type_destroy:not(:disabled):hover .button__icon {
border-color: #d03232;
}
.control-pane .button_disabled_yes {
opacity: 0.4;
}
/* ../../desktop.blocks/control-pane/control-pane.styl:end */
/* ../../desktop.blocks/button/button.styl:begin */
.button {
font: inherit;
margin: 0;
padding: 0;
color: inherit;
border: none;
background: transparent;
cursor: pointer;
}
.button_disabled_yes {
cursor: default;
}
.button:focus {
outline: none;
}
.button:active,
.button:focus:active {
outline: none;
box-shadow: none;
}
.button::-moz-focus-inner {
padding: 0;
border: 0;
}
/* ../../desktop.blocks/button/button.styl:end */
/* ../../desktop.blocks/apps/apps.styl:begin */
.apps {
position: fixed;
bottom: 20px;
width: 320px;
}
.apps__title {
font: normal 12px/12px Verdana, sans-seirf;
padding-left: 30px;
color: #646464;
}
.apps__list {
margin-top: 20px;
}
@media (max-height: 600px) {
.apps {
position: static;
margin: 40px 0;
}
}
/* ../../desktop.blocks/apps/apps.styl:end */
/* ../../desktop.blocks/app/app.styl:begin */
.app {
position: relative;
padding: 25px 30px;
background: #141414;
border-left: 5px solid transparent;
border-bottom: 1px solid #1e1e1e;
-webkit-user-select: none;
 -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
.app__control {
position: absolute;
overflow: hidden;
top: 50%;
right: -15px;
-webkit-transform: translateY(-50%);
      transform: translateY(-50%);
}
.app .button {
font: normal 25px/26px Menlo, monospace;
display: inline-block;
margin-left: 10px;
width: 30px;
border-radius: 30px;
box-sizing: border-box;
transition: -webkit-transform 0.2s, opacity 0.2s;
transition: transform 0.2s, opacity 0.2s;
}
.app .button_action_kill {
border: 2px solid #323232;
color: #323232;
}
.app .button_action_run {
line-height: 30px;
}
.app .button_disabled_yes {
-webkit-transform: translateY(-100%);
      transform: translateY(-100%);
opacity: 0;
}
.app_id_hadoop .button_action_run {
background: linear-gradient(135deg, #b511cd 0%, #fb01b9 100%);
}
.app_id_rails .button_action_run {
background: linear-gradient(135deg, #2035f5 0%, #5b20cf 100%);
}
.app_id_chronos .button_action_run {
background: linear-gradient(135deg, #02c8fb 0%, #0085e8 100%);
}
.app_id_storm .button_action_run {
background: linear-gradient(135deg, #288d55 0%, #20dcb8 100%);
}
.app_id_spark .button_action_run {
background: linear-gradient(135deg, #72fc05 0%, #63e92a 100%);
}
/* ../../desktop.blocks/app/app.styl:end */
/* ../../desktop.blocks/server-canvas/server-canvas.styl:begin */
.server-canvas {
padding: 40px;
}
.server-canvas__title {
font-size: 28px;
line-height: initial;
}
.server-canvas__list {
margin-top: 40px;
}
/* ../../desktop.blocks/server-canvas/server-canvas.styl:end */
/* ../../desktop.blocks/server/server.styl:begin */
.server {
display: inline-block;
position: relative;
width: 200px;
height: 140px;
margin: 0 20px 20px 0;
vertical-align: top;
background: #1e1e1e;
border-radius: 3px;
}
.server__apps {
position: absolute;
width: 100%;
height: 100%;
white-space: nowrap;
}
.server__app {
display: inline-block;
width: 100%;
height: 100%;
padding: 25px 5px 5px 5px;
box-sizing: border-box;
border-radius: 3px;
text-align: center;
}
.server__app-abbr {
font-size: 28px;
line-height: initial;
}
.server__app-name {
margin-top: 15px;
}
.server__app-timestamp {
font-size: 12px;
line-height: initial;
margin-top: 10px;
color: #000;
}
.server_apps_2 .server__app {
display: block;
height: 50%;
padding: 8px 2px 2px 2px;
}
.server_apps_2 .server__app:first-child {
border-radius: 3px 3px 0 0;
}
.server_apps_2 .server__app:last-child {
border-radius: 0 0 3px 3px;
}
.server_apps_2 .server__app-abbr {
font-size: 14px;
font-weight: bold;
line-height: initial;
}
.server_apps_2 .server__app-name {
font-size: 14px;
margin-top: 5px;
}
.server_apps_2 .server__app-timestamp {
font-size: 11px;
line-height: initial;
margin-top: 0;
color: #000;
}
.server_state_loading:before {
position: absolute;
z-index: 1;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.8);
content: "";
}
.server_state_loading:after {
position: absolute;
left: 50%;
top: 50%;
z-index: 2;
width: 20px;
height: 20px;
margin: -10px 0 0 -10px;
border: 2px dashed #000;
border-radius: 50%;
border-color: #fc0;
-webkit-animation: spin_theme_simple 2s infinite linear;
      animation: spin_theme_simple 2s infinite linear;
content: "";
}
.server__app_type_hadoop {
background: linear-gradient(135deg, #b511cd 0%, #fb01b9 100%);
}
.server__app_type_rails {
background: linear-gradient(135deg, #2035f5 0%, #5b20cf 100%);
}
.server__app_type_chronos {
background: linear-gradient(135deg, #02c8fb 0%, #0085e8 100%);
}
.server__app_type_storm {
background: linear-gradient(135deg, #288d55 0%, #20dcb8 100%);
}
.server__app_type_spark {
background: linear-gradient(135deg, #72fc05 0%, #63e92a 100%);
}
@-webkit-keyframes spin_theme_simple {
from {
-webkit-transform: rotate(0);
        transform: rotate(0);
}
to {
-webkit-transform: rotate(360deg);
        transform: rotate(360deg);
}
}
@keyframes spin_theme_simple {
from {
-webkit-transform: rotate(0);
        transform: rotate(0);
}
to {
-webkit-transform: rotate(360deg);
        transform: rotate(360deg);
}
}
/* ../../desktop.blocks/server/server.styl:end */
/* ../../desktop.blocks/layout/layout.styl:begin */
.layout {
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
position: relative;
min-height: 100%;
}
.layout__left {
-webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
width: 320px;
background: #1e1e1e;
}
/* ../../desktop.blocks/layout/layout.styl:end */
/* ../../desktop.blocks/page/page.styl:begin */
.page {
font: normal 16px/16px Verdana, sans-serif;
color: #fff;
background: #000;
}
/* ../../desktop.blocks/page/page.styl:end */